In [41]:
import pandas as pd
import numpy as np

data_dict = pd.read_pickle('final_project_dataset.pkl')
df = pd.DataFrame.from_dict(data_dict, orient='index')

In [42]:
df.dtypes

other                        object
restricted_stock_deferred    object
long_term_incentive          object
director_fees                object
shared_receipt_with_poi      object
email_address                object
from_messages                object
from_this_person_to_poi      object
exercised_stock_options      object
deferral_payments            object
expenses                     object
salary                       object
deferred_income              object
restricted_stock             object
to_messages                  object
poi                            bool
total_stock_value            object
from_poi_to_this_person      object
loan_advances                object
bonus                        object
total_payments               object
dtype: object

In [43]:
df.head()

,other,restricted_stock_deferred,long_term_incentive,director_fees,shared_receipt_with_poi,email_address,from_messages,from_this_person_to_poi,exercised_stock_options,deferral_payments,...,salary,deferred_income,restricted_stock,to_messages,poi,total_stock_value,from_poi_to_this_person,loan_advances,bonus,total_payments
ALLEN PHILLIP K,152,-126027,304805,NaN,1407,phillip.allen@enron.com,2195,65,1729541,2869717,...,201955,-3081055,126027,2902,False,1729541,47,NaN,4175000,4484442
BADUM JAMES P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257817,178980,...,NaN,NaN,NaN,NaN,False,257817,NaN,NaN,NaN,182466
BANNANTINE JAMES M,864523,-560222,NaN,NaN,465,james.bannantine@enron.com,29,0,4046157,NaN,...,477,-5104,1757552,566,False,5243487,39,NaN,NaN,916197
BAXTER JOHN C,2660303,NaN,1586055,NaN,NaN,NaN,NaN,NaN,6680544,1295738,...,267102,-1386055,3942714,NaN,False,10623258,NaN,NaN,1200000,5634343
BAY FRANKLIN R,69,-82782,NaN,NaN,NaN,frank.bay@enron.com,NaN,NaN,NaN,260455,...,239671,-201641,145796,NaN,False,63014,NaN,NaN,400000,827696

In [27]:
df['salary'][df['salary'] != 'NaN'].count()

95

In [28]:
df['email_address'][df['email_address'] != 'NaN'].count()

111

In [30]:
df['total_payments'][df['total_payments'] == 'NaN'].count() / df['total_payments'].count()

0.14383561643835616

In [31]:
len(df)

146

In [40]:
df[(df['poi'] == True) & (df['total_payments'] == 'NaN')].count()

other                        0
restricted_stock_deferred    0
long_term_incentive          0
director_fees                0
shared_receipt_with_poi      0
email_address                0
from_messages                0
from_this_person_to_poi      0
exercised_stock_options      0
deferral_payments            0
expenses                     0
salary                       0
deferred_income              0
restricted_stock             0
to_messages                  0
poi                          0
total_stock_value            0
from_poi_to_this_person      0
loan_advances                0
bonus                        0
total_payments               0
dtype: int64